# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
venv/
env/

# Environment variables
.env

# Logs and temporary files
*.log
*.tmp

# OS/system files
.DS_Store
Thumbs.db
